.app-container {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 0em;
    bottom: 0em;
    left: 0em;
    right: 0em;
}

.app-is-mobile .app-toolbar {
    position: fixed;
    z-index: 2;
}

.app-sidenav-container {
    flex: 1;
}

.app-is-mobile .app-sidenav-container {
    flex: 1 0 auto;
}

mat-sidenav {
    width: 15em;
}

.crm-navigation-bar {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 998;
  }